# Logistic Regression

logistic regression is statistical model that in its basic form uses a logistic function to model a binary dependent variable, althougth many more extension exists. In regression analysis, logistic regression(or logit reg) is estimating the parameter of a logistic model (a form of a binary regression)
for example: span detection mails, prediction if coustmer is default in a loan etc

#### X -> Indenpdent variable (Feature)
#### y -> Dependent Variable (Target)

In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [5]:
df = pd.read_csv("titanic.csv")
df.head(10)

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [6]:
data =df[['pclass','sex', 'age' , 'survived']]
data.shape

(891, 4)

In [7]:
data.describe()

           pclass         age    survived
count  891.000000  714.000000  891.000000
mean     2.308642   29.699118    0.383838
std      0.836071   14.526497    0.486592
min      1.000000    0.420000    0.000000
25%      2.000000   20.125000    0.000000
50%      3.000000   28.000000    0.000000
75%      3.000000   38.000000    1.000000
max      3.000000   80.000000    1.000000

#### Exploring data

In [9]:
data.isna().sum()

pclass        0
sex           0
age         177
survived      0
dtype: int64

In [11]:
data.head()

   pclass     sex   age  survived
0       3    male  22.0         0
1       1  female  38.0         1
2       3  female  26.0         1
3       1  female  35.0         1
4       3    male  35.0         0

In [12]:
data.tail()

     pclass     sex   age  survived
886       2    male  27.0         0
887       1  female  19.0         1
888       3  female   NaN         0
889       1    male  26.0         1
890       3    male  32.0         0

#####   Dealing with missing values -- Preprocessing 
##### Label Encoding

In [14]:
data['sex'] = data['sex'].map({'male':1,'female':0})
data['sex']

C:\Users\Irfan Ali\AppData\Local\Temp\ipykernel_9108\1666434564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex'] = data['sex'].map({'male':1,'female':0})

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: sex, Length: 891, dtype: int64

In [15]:
data.head()

   pclass  sex   age  survived
0       3    1  22.0         0
1       1    0  38.0         1
2       3    0  26.0         1
3       1    0  35.0         1
4       3    1  35.0         0

In [21]:
feature = data[['pclass','sex' , 'age']]
target = data[['survived']]

In [22]:
feature.head()

   pclass  sex   age
0       3    1  22.0
1       1    0  38.0
2       3    0  26.0
3       1    0  35.0
4       3    1  35.0

In [26]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
features = imputer.fit_transform(feature)

In [27]:
features

array([[ 3.        ,  1.        , 22.        ],
       [ 1.        ,  0.        , 38.        ],
       [ 3.        ,  0.        , 26.        ],
       ...,
       [ 3.        ,  0.        , 29.69911765],
       [ 1.        ,  1.        , 26.        ],
       [ 3.        ,  1.        , 32.        ]])

In [28]:
feature_train,feature_test,target_train,target_test =train_test_split(features,target)

In [29]:
model = LogisticRegression()
model.fit(feature_train,target_train)

C:\Users\Irfan Ali\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [30]:
predictions=model.predict(feature_test)

In [31]:
predictions

array([1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 1], dtype=int64)

In [32]:
print(confusion_matrix(target_test,predictions))
print(accuracy_score(target_test,predictions))

[[119  17]
 [ 24  63]]
0.8161434977578476