In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("dataset-1.csv")
df.head(10)

,restaurant name,cost,collections,cuisines,operating timings
0,Beyond Flavours,800,"Food Hygiene Rated Restaurants in Hyderabad, C...","Chinese, Continental, Kebab, European, South I...","12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)"
1,Paradise,800,Hyderabad's Hottest,"Biryani, North Indian, Chinese",11 AM to 11 PM
2,Flechazo,1300,"Great Buffets, Hyderabad's Hottest","Asian, Mediterranean, North Indian, Desserts","11:30 AM to 4:30 PM, 6:30 PM to 11 PM"
3,Shah Ghouse Hotel & Restaurant,800,Late Night Restaurants,"Biryani, North Indian, Chinese, Seafood, Bever...",12 Noon to 2 AM
4,Over The Moon Brew Company,1200,"Best Bars & Pubs, Food Hygiene Rated Restauran...","Asian, Continental, North Indian, Chinese, Med...","12noon to 11pm (Mon, Tue, Wed, Thu, Sun), 12no..."
5,The Fisherman's Wharf,1500,"Sunday Brunches, Corporate Favorites, Great Bu...","Seafood, Goan, North Indian, Continental, Asian","12Noon to 3:30PM, 4PM to 6:30PM, 7PM to 11:30P..."
6,eat.fit,500,Food Hygiene Rated Restaurants in Hyderabad,"Healthy Food, North Indian, Continental, South...",7 AM to 10 PM
7,Shah Ghouse Spl Shawarma,300,NaN,Lebanese,12 Noon to 12 Midnight
8,Hyper Local,1000,"Great Buffets, Live Sports Screenings, Best Ba...","American, Chinese, North Indian, Kebab, South ...",12 Noon to 12 Midnight
9,Cream Stone,350,Frozen Delights,"Ice Cream, Desserts","10 AM to 1 AM (Mon-Thu), 10 AM to 1:30 AM (Fri..."

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   restaurant name    105 non-null    object
 1   cost               105 non-null    int64
 2   collections        51 non-null     object
 3   cuisines           105 non-null    object
 4   operating timings  104 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.2+ KB

In [4]:
df1 = df.copy()

In [5]:
df.columns

Index(['restaurant name', 'cost', 'collections', 'cuisines',
       'operating timings'],
      dtype='object')

In [6]:
df['collections'] = df['collections'].bfill()

In [7]:
df['operating timings'] = df['operating timings'].bfill()

In [8]:
df.isnull().sum()

restaurant name      0
cost                 0
collections          0
cuisines             0
operating timings    0
dtype: int64

In [9]:
df.rename(columns={"restaurant name":"restaurant_name"},inplace=True)

In [10]:
df.rename(columns={"operating timings":"operating_timings"},inplace=True)

In [11]:
df.columns

Index(['restaurant_name', 'cost', 'collections', 'cuisines',
       'operating_timings'],
      dtype='object')

In [13]:
cost = df[['restaurant_name' , 'cost']]

In [14]:
cost.isna().sum()

restaurant_name    0
cost               0
dtype: int64

# check the number of unique values in each column

In [ ]:
distinct_values = df.unique_values().reset_index()
distinct_values.columns = ['variable' , 'distinct_value_count']
plt.figure(figsize=[12,6])
ax = sns.barplot(y='variable' , x = 'distinct_value_count', data=distinct_values , orient ='h')
plt.xlabel('Number of Unique Values')
plt.ylabel('')

for p in ax.patches:
    width = p.det_width()
    ax.anotate['{:1.0f}'.format(width),((p.get_x() * p.get_width())*1.005,p.get_y()*0.55*p.get_height()),]