In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df = pd.read_csv('heart_desease_data.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

- age ->age in year
- sex -> gender (male:1,female:0)
- cp  -> chest pain type
- trestbps -> resting blood pressure (in mm Hg on admission to the hospital)
- chol ->  serum cholestoral in mg/dl
- fbs -> fasting blood sugar
- restecg -> resting electrocardiographic results
- thalach-> maximum heart rate achieved
- exang -> exercise induced angina
- oldpeak -> ST depression induced by exercise relative to rest
- slope -> the slope of the peak exercise ST segment
- ca -> number of major vessels (0-3) colored by flourosopy
- thal:
- 0 = error (in the original dataset 0 maps to NaN's)
- 1 = fixed defect
- 2 = normal
- 3 = reversable defect

- target (the lable)->
- 0 = no disease,
- 1 = disease

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [5]:
df = pd.read_csv('heart_desease_data.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
data  = df[['age','sex', 'cp','chol','fbs','target']]
data.head()

   age  sex  cp  chol  fbs  target
0   63    1   3   233    1       1
1   37    1   2   250    0       1
2   41    0   1   204    0       1
3   56    1   1   236    0       1
4   57    0   0   354    0       1

### Exploring data

In [8]:
data.isna().sum()

age       0
sex       0
cp        0
chol      0
fbs       0
target    0
dtype: int64

In [10]:
features = data[['age','sex', 'cp','chol','fbs']]
target = data[['target']]

### Training Dataset

In [12]:
features_train,features_test,target_train,target_test = train_test_split(features,target)

In [15]:
model = LogisticRegression()
model.fit(features_train,target_train)

C:\Users\Irfan Ali\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [17]:
predictions= model.predict(features_test)
print(predictions)

[0 1 1 1 1 1 1 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 1 1
 1 1 0 0 0 1 1 1 1 1 1 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 1 0 0 1
 1 1]

In [18]:
print(confusion_matrix(target_test,predictions))
print(accuracy_score(target_test,predictions))

[[25  7]
 [11 33]]
0.7631578947368421