In [1]:
import pandas as pd

When it comes to selecting rows and columns of a pandas DataFrame, loc and iloc are two commonly used functions.
\
Here is the subtle difference between the two functions:

- loc selects rows and columns with specific labels
- iloc selects rows and columns at specific integer positions

In [3]:
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'points': [5, 7, 7, 9, 12, 9, 9, 4],
                   'assists': [11, 8, 10, 6, 6, 5, 9, 12]},
                   index=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])

In [4]:
df.head()

  team  points  assists
A    A       5       11
B    A       7        8
C    A       7       10
D    A       9        6
E    B      12        6

We can use loc to select specific rows of the DataFrame based on their index labels

In [6]:
df.loc[['F' , 'E']]

  team  points  assists
F    B       9        5
E    B      12        6

In [8]:
df.loc[['F' , 'E'] , ['team' , 'assists']]

  team  assists
F    B        5
E    B        6

In [10]:
df.loc['F': , :'assists']

  team  points  assists
F    B       9        5
G    B       9        9
H    B       4       12

# How to use iloc 
We can use iloc to select specific rows of the DataFrame based on their integer position:

In [14]:
df.iloc[4:6]

  team  points  assists
E    B      12        6
F    B       9        5

In [20]:
#select rows in range 4 through 6 and columns in range 0 through 2
df.iloc[4:6, 0:2] # [rows , columns]

  team  points
E    B      12
F    B       9

In [21]:
#select rows from 4 through end of rows and columns up to third column
df.iloc[4: , :3]

  team  points  assists
E    B      12        6
F    B       9        5
G    B       9        9
H    B       4       12